body {
  margin: 0;
  padding: 0;
  background-color: #efeee7;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}

h1 {
  background-color: #333333;
  color: #eee;
  font-size: 28px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#bio-image {
  width: 200px;
  height: 200px;
}
